:root[data-theme="light"] {
    /* colors */
    --header-color: #fff; 
    --header-bg: #fc7373;

    --fg-color: #000;
    --bg-color: #fff;
    --accent-color: #a8d1d1;
    /* fonts */
    --header-font: Geneva, Tahoma;
    --fg-font: 'Lucida Sans', 'Lucida Sans Regular';
}
:root[data-theme="dark"] {
    /* colors */
    --header-color: #fff; 
    --header-bg: #b65353;

    /* color: dimgray; */

    --fg-color: #fff;
    --bg-color: rgb(59, 55, 55);
    --accent-color: #8aacac;
    /* fonts */
    --header-font: Geneva, Tahoma;
    --fg-font: 'Lucida Sans', 'Lucida Sans Regular';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 65%;

    margin: 0 auto;

    font-family: var(--fg-font);

    color: var(--fg-color);
    background-color: var(--bg-color);
}

/* TODO:make page responsive 860px */

@media only screen and (max-width: 600px) {
    body {
        width: 90%;
        padding: 0 8px;
    }
}